<div class="row mb-5">
    <div class="col col-6">
        <div>
            <img src="img/heroku-sf-rest.png" alt="">
        </div>        
    </div>
    <div class="col col-6">
        {{#if connection }}
            <p>Instance Url: {{connection.instanceUrl}}</p>
            <p>User id: {{ connection.userId }}</p>
            <p>Organization id: {{ connection.orgId }}</p>
            <p>Access Token: {{ connection.accessToken }}</p>
        {{else}}
            <a class="btn btn-primary mb-5" href="/oauth">Oauth login</a>
        {{/if}}
        <button id="accounts" class="btn btn-secondary mb-5">Get Accounts via REST API</button>
        <div id="result"></div>
    </div>
</div>



<script>

    const button = document.getElementById('accounts');

    button.addEventListener('click', function(e) {
        let content = '';
        fetch('/sfrestapi/accounts')
        .then(res => {
            if (!res.ok) {
                console.log(res);
                throw Error(res.statusText);
            } 
            return res.json();
        })
        .then((res) => {
            console.log(res)
            res.response.forEach(function (record) {
                content += '<li class="list-group-item">'+record.Name+'</li>'
            });
            document.getElementById('result').innerHTML = '<ul class="list-group list-group-flush">' + content + '</ul>';
        })
        .catch(function(error) {
            content += '<div class="col alert alert-danger">' + error + '</div>';
            document.getElementById('result').innerHTML = content;
            console.log(error);

        });
    })

</script>